# Project place file
/RojoTreeTemplate.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

node_modules

# Temporary files
sourcemap.json

# ackage files
Packages/
wally.lock

# MacOS grrr
.DS_STORE