# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

node_modules

# Temporary files
sourcemap.json

# Package files
Packages/
wally.lock

# MacOS grrr
.DS_STORE

# Roblox place files
*.rbxl
*.rbxlx